[submodule, "dependencies/pros"]
  path = "dependencies/pros"
  url  = "https://github.com/purduesigbots/pros"

[submodule, "dependencies/OkapiLib"]
  path = "lib/OkapiLib"
  url  = "https://github.com/OkapiLib/OkapiLib"